- if @feature_entry.present? && @feature_feed_url.present?
  %section#feeds-feature.box.feeds
    %h1.box-title Tema
    %ul.box-content
      %li
        %a{ href: @feature_entry.url, rel: "external" }
          - if @feature_entry.image.present?
            .crop
              = image_tag( @feature_entry.image_large, alt: '' )
          .text
            %h2= sanitize( @feature_entry.title )
        %p.more= link_to "Fler temanyheter", @feature_feed_url.feed_url.gsub(/\/feed\/*$/, "")

