%section.box.feeds#feeds-my-own
  %h1.box-title Mina flöden
  .box-instructions{ class: @my_own_entries.present? ? "" : "show"}
    %p Min sida kan visa nyhetsflöden från internet. Klicka på pilen uppe till höger i denna box för att lägga till ett flöde.
  %ul.box-content
    = render "feeds_entries", entries: @my_own_entries, category: 'my_own'

  %a.toggle-instructions{ "role" => "button", href: "#",  title: "Visa instruktioner"} ?

  .dropdown.box-menu.pull-right
    %a#feeds-my-own-menu.dropdown-toggle{ "role" => "button", "data-toggle" => "dropdown", "href" => "#", "title" => "Anpassa denna box" }
      %span.icon-caret-down.icon-large
    %menu.dropdown-menu{ "aria-labelledby" => "feeds-my-own-menu" }
      %li= link_to "Hantera dessa flöden...", my_own_feeds_path
      %li= link_to "Ta bort dessa flöden", my_own_feeds_delete_all_path, data: { confirm: 'Vill du ta bort alla dessa flöden?', method: :delete }
