- if @feature.present?
  %section#feeds-feature.box.feeds
    %h1.box-title Tema
    %ul.box-content
      %li
        %a{ href: @feature[:entry].url, rel: "external" }
          - if @feature[:entry].image.present?
            .crop
              = image_tag( @feature[:entry].image_large, alt: '' )
          .text
            %h2= sanitize( @feature[:entry].title )
        %p.more= link_to "Fler temanyheter", @feature[:feed_url]

