- if @feature.present? && @feature[:entry].present?
  %section#feeds-feature.box.feeds
    %h1.box-title Tema
    %ul.box-content
      %li
        - if @feature[:entry].image.present?
          %a{ href: @feature[:entry].url, rel: "external" }
            .crop
              = image_tag( @feature[:entry].image_large, alt: '' )
        .text
          %a{ href: @feature[:entry].url, rel: "external" }
            %h2= sanitize( @feature[:entry].title )
    %p.more= link_to "Fler temanyheter", @feature[:feed_url]
