- if entries.size == @entries_limit
  %li.load-more
    %input.btn.btn-small{ type: "button", value: "Visa fler", "data-path" => more_feed_entries_path(category, entries.last.published.to_i)}
- elsif entries.size < @entries_limit
  %li.load-more
    .text
      %p.nomore Det finns inga fler nyheter
