%section.box#shortcuts-support
  %h1.box-title Support

  %section.my
    %h1 Kontakta HR-support
    %ul
      %li= link_to 'Ställ din fråga här', 'https://komin.malmo.se/Min-anstallning/HR-support.html'
      %li= link_to 'Eller ring', 'https://komin.malmo.se/ringhrsupport'

    %h1 Kontakta IT-support
    %ul
      %li= link_to 'Här får du hjälp', 'https://komin.malmo.se/datortelefon'
      %li.no-link= "Eller ring 42727"
