%section.box#time-report
  %h1.box-title Flexa
  .box-content
    %p.controls
      %button.btn.btn-mini{"data-action" => "in"} In
      %button.btn.btn-mini{"data-action" => "break-out" } Rast ut
      %button.btn.btn-mini{"data-action" => "break-in" } Rast in
      %button.btn.btn-mini{"data-action" => "out" } Ut
    .status
      %p.action
      %p.sum Flexsaldo: +4,23 timmar.
    %p.hrutan= link_to "Till HRutan", 'https://komin.malmo.se/hrutan'
