%section.box#shortcuts-tools
  %h1.box-title Support

  %section.my
    %h1 HR Support
    %ul
      %li= link_to 'Ställ din fråga här', 'https://komin.malmo.se/Min-anstallning/HR-support/Medarbetare.html'
      %li= link_to 'Eller ring', 'https://komin.malmo.se/Min-anstallning/HR-support/Ring-HR-support.html'
          
    %h1 IT Support
    %ul
      %li= link_to 'Här får du support', 'https://komin.malmo.se/Var-kommun/Stod--service/Dator--telefon/Support.html'

