%section.announcement.small= link_to 'Ställ din fråga här', 'https://komin.malmo.se/Min-anstallning/HR-support/Medarbetare.html'
%section.announcement.small= link_to 'Eller ring', 'https://komin.malmo.se/Min-anstallning/HR-support/Ring-HR-support.html'
