.DS_Store
.bundle
/vendor/bundle/
.vagrant
log
log2
tmp
doc
config/database.yml
config/app_config.yml
spec/auth_credentials.yml
import
reports/*.*
public/assets
/public/system/avatars
/public/system/profilbilder/
/config/secrets.yml
/config/deploy.yml
