- if @activities.present?
  %ul#user-activities
    - @activities.each do |activity|
      %li
        = activity[:reason]
        = activity[:from_date_time]
        = "till"
        = activity[:to_date_time]