- if @activities.present?
  #user-activities
    %h2.form-group-title Dagens aktiviteter
    %ul
      - @activities.each do |activity|
        %li
          = activity.reason
          = l activity.starting, format: :short
          = "till"
          = l activity.ending, format: :short
