= form_tag(skills_search_path, method: "get", id: "search-skill", class: "basic", "data-path" => skills_path) do
  .form-group
    = label_tag "term", "Sök kunskapsområde: ", class: "control-label"
    .controls
      .input-group
        = text_field_tag "term", params[:term], class: "form-control"
        %span.input-group-btn
          = submit_tag "Sök", { class: "btn btn-default", name: nil }
