// Autocomplete search for local users
jQuery(document).ready(function($) {

  var $searchUsers = $("#search-user #term");
  if ( $searchUsers.length ) {
    $searchUsers.focus().autocomplete({
      source: "<%= asset_path("/users/search") %>",
      minLength: 2,
      autoFocus: true,
      select: function( event, ui ) {
        document.location = '<%= asset_path("/users/") %>' + ui.item.username;
      }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
      ul.addClass('search_users image-list');
      return $( "<li class='suggest-users'></li>" )
    .data( "item.autocomplete", item )
    .append( "<a><img src='" + item.avatar_full_url + "' />" +
       "<p>" + item.first_name + " " + item.last_name + 
        "<br/> (" + item.username + ")</p></a>" )
    .appendTo( ul );
    };
  }
});
