section.box#colleagues {
  h1 {
    margin-bottom: 0;
  }
  ul.box-content {
    margin: 0;
    li {
      position: relative;
      clear: both;
      margin: .2em .6em 1em;
      img {
        float: left;
        width: 46px;
        height: 46px;
        margin: .2em .6em 1em 0;
        border: 0;
      }
      .text {
        overflow: hidden;
        h2.name {
          font-size: emize(15);
          font-weight: normal;
          line-height: 1.3;
          margin: 0;
        }
        p.status {
          font-size: emize(15);
          line-height: 1.3;
          margin-bottom: 0;
          &.success {
            padding: .1em .3em;
            margin-bottom: .2em;
            @include box-sizing(border-box);
          }
        }
        p.updated_at {
          font-family: $sans-serif;
          font-size: emize(12);
          color: $text-color-dark;
          line-height: 1.3;
          margin-bottom: 0;
        }
      }
      a.delete {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        font-family: $sans-serif;
        font-size: emize(14);
        color: $body-color;
        span {
          font-size: emize(14);
          @include opacity(.2);
        }
      }
      &:hover a.delete {
        color: $danger-color;
        span {
          @include opacity(1);
        }
      }
      &.add {
        margin-top: .7em;
        .help {
          margin-bottom: .4em;
        }
      }
      &.waiting {
        height: 4em;
        background-color: #fff;
        background-position: left 40%;
      }
      .warning {
        padding: .5em .8em;
        font-family: $sans-serif;
      }
    }
    li#my-status {
      position: relative;
      .change-image {
        position: absolute;
        top: 0em;
        left: 0;
        @include box-sizing(border-box);
        display: none;
        @include opacity(1);
        padding: .2em .2em .3em;
        width: 46px;
        text-align: center;
        font-size: emize(12);
        font-family: $sans-serif;
        background: $background-darker;
        color: #fff;
      }
      .img:hover .change-image {
        display: block;
      }
    }
    .no-colleagues {
      font-size: emize(14);
      line-height: 1.3;
      margin-bottom: 1em;
      label.show {
        font-size: emize(14, 14);
      }
    }
  }

  // Change status
  #change-status-trigger,
  #add-colleague-trigger {
    display: none;
    font-size: emize(14);
    font-family: $sans-serif;
    &.show {
      display: block;
    }
  }

  #update-status-form,
  #add-colleague-form {
    fieldset {
      display: none;
      clear: both;
      padding: 0 0 .4em;
      margin: 0;
      &.show,
      .show {
        display: block;
      }
      label {
        display: none;
        margin-bottom: 0.1em;
        font-family: $sans-serif;
      }
      #status_message {
        margin-bottom: .3em;
        resize: none;
        height: 2.4em;
        overflow: hidden;
      }
      #add_colleague {
        margin: .5em 0 .2em 0;
      }
      .controls {
        display: none;
      }
    }
  }
  #update-status-form {
    padding: .4em .4em 0;
    margin-bottom: .3em;
    background: $background-light;
    border-bottom: $border;
    border-top: $border;
    .count {
      float: right;
      padding: .2em;
      width: 2.2em;
      text-align: center;
      font-family: $sans-serif;
      font-size: emize(14);
      @include radius(3px);
    }
    #cancel-trigger {
      float: left;
    }
  }
}
