.edit {
  section.form,section.index,
  section.show {
    @include columns(9);
    margin-bottom: 2em;
  }

  .avatar {
    .control-group {
      clear: both;
    }
  }
  .edit_avatar {
    width: 30%;
    float: left;
    img {
      width: 90%;
      max-width: 12em;
      height: auto;
    }
  }
  .avatar-help {
    overflow: hidden;
  }

  table {
    width: 100%;
    td, th {
      &.url,
      &.title {
        max-width: 16em;
        overflow: hidden;
        span {
          display: block;
          max-width: 15em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    td.delete {
      text-align: right;
    }
    tbody tr:last-child td {
      border-bottom: 0;
    }
  }


  nav.admin {
    @include columns(3, true);
    margin-bottom: 2em;
    background: $background-light;
    h2 {
      @include radius(0);
      margin: 0;
    }
    ul {
      &.users .users a,
      &.group_contacts .group-contacts a,
      &.roles .roles a,
      &.feeds .feeds a,
      &.shortcuts .shortcuts a,
      &.activities .activities a,
      &.skills .skills a,
      &.languages .languages a,
      &.api_apps .api-apps a,
      &.statistics .statistics a,
      a:hover {
        background: $background-light-hover;
      }
    }
    li {
      a {
        display: block;
        padding: .5em 1em .6em;
        border-top: #fff 1px solid;
        border-bottom: $border;
        font-size: emize(14);
        line-height: emize(17, 14);
        font-family: $sans-serif;
        color: $body-color;
        &:focus,
        &:hover {
          background: $background-light-hover;
        }
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .btn-sm {
    white-space: nowrap;
  }
  .help-inline.warning {
    margin-top: .5em;
  }
}

.mf-v4 {
  .more-info {
    display: none;
  }
}

.danger-zone {
  margin-bottom: 4em;
  h1.box-title {
    background: $danger-color;
  }
  p {
    font-size: emize(14);
    margin: 0 0 .5em;
  }
}
