.show.employee {
  .form-group-title:first-child {
    margin-top: 0;
  }
  #languages {
    width: 90% !important;
  }

  .control-group {
    border-bottom: $border;
  }
  .controls li {
    margin-bottom: .4em;
  }
  .control-group:hover {
  }
}
