section.feeds {
  .box-content {
    li {
      margin: 0 0 1em;
      overflow-x: hidden;
      .image {
        float: left;
        width: 140px;
        min-height: 140px;
        margin: .3em 1em .6em 0;
        background: $background-light;
      }
      img {
        width: 100%;
        height: auto;
        border: 0;
      }
      .text {
        overflow-x: hidden;
        margin-bottom: .5em;
        h2 {
          margin: 0 0 .1em;
          padding: 0;
          font-size: emize(24);
          line-height: 1.2;
          font-weight: normal;
        }
        .tag {
          display: inline-block;
          vertical-align: top;
          max-width: 18em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 4px .6em 3px;
          margin: .3em .3em 0 0;
          @include radius(2px);
          background: $background-dark;
          color: #fff;
          font-family: $sans-serif;
          font-size: emize(10, 17);
          text-transform: uppercase;
          letter-spacing: .1em;
          line-height: 1;
        }
        p.summary,
        p.nomore {
          vertical-align: middle;
          font-size: emize(17);
          line-height: emize(21);
          margin-bottom: .1em;
        }
        p.meta {
          font-family: $sans-serif;
          font-size: emize(14);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: .4em 0 0;
          .comments {
            display: block;
            margin-top: .4em;
            line-height: 1.2;
          }
          .m-icon-bubbles {
            display: inline-block;
            vertical-align: top;
            background-position: 0 top;
            width: 1.5em;
            height: 1.2em;
            @include opacity(.6);
          }
        }
      }
    }
    li:nth-of-type(n+4) {
      p.summary {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .image {
        width: 90px;
        min-height: 90px;
        margin: .3em .8em .6em 0;
      }
    }
    li.load-more {
      padding: .2em 0 .8em;
      margin-bottom: .8em;
    }
  }
  .box-instructions a.btn {
    margin: 1em 0;
  }
  section.my_own a.btn {
    margin: 1em 1em;
    display: inline-block;
  }
}

section.box#feeds-feature {
  .box-title {
    display: block;
    margin: 0;
  }
  .box-content {
    margin-bottom: 0;
  }
  .box-content li {
    padding: .55em .7em 0;
  }
  .text {
    clear: both;
    h2 {
      font-size: emize(20);
    }
  }
  .crop {
    overflow: hidden;
    margin-bottom: .5em;
    border: $border;
    img {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
  .more {
    font-family: $sans-serif;
    margin: 0 .7em 1em;
    font-size: emize(14, 16);
  }
  .box-content li .more a {
    font-family: $sans-serif;
    padding-top: .4em;
    padding-bottom: .4em;
    margin-bottom: 0;
  }
}

.box .box-instructions {
  margin-left: .6em;
  margin-right: .6em;
}
