body.malmo-masthead-dashboard {
  padding: 0 .5em;
  min-width: 56em;
  margin-top: 4.5em;
  margin-right: 1em;
  margin-left: 1em;
}
body.site-search #malmo-masthead {
  position: absolute;
}

.wrapper {
  max-width: 75em;
  margin: 1em auto;
}

body.employee .wrapper {
  max-width: 52em;
}

.column {
  margin-bottom: 1em;
}
.column-1 {
  @include columns(3);
}
.column-2 {
  @include columns(6);
}
.column-3 {
  @include columns(3, true);
}
