body.malmo-masthead-dashboard {
  padding: 0 .5em;
  min-width: 56em;
  margin-top: 4.5em;
  margin-right: 1em;
  margin-left: 1em;
}
body.site-search #malmo-masthead {
  position: absolute;
}

.wrapper {
  max-width: 75em;
  margin: 1em auto;
}

body.employee .wrapper {
  max-width: 52em;
}

.column {
  margin-bottom: 1em;
}

.group-1 {
  @include columns(9);
  .column-1 {
    @include columns(4, false, 2.68%);
    float: left;
  }
  .column-2 {
    @include columns(8, true, 2.68%);
    float: right;
  }
}
.column-3 {
  @include columns(3, true, 4%);
}

/* .group-1 {
  @include columns(9.3, false, 3%);
  .column-1 {
    @include columns(3.48, false, 3.87%);
    float: left;
  }
  .column-2 {
    @include columns(8.52, true, 3.87%);
    float: right;
  }
}
.column-3 {
  @include columns(2.7, true, 3%);
}
 */
