@mixin columns($span, $last: false, $gutter: 2%) {
  $total-columns: 12; // Number of columns in the grid

  // (column width in percentage) minus its (own portion of all the gutters)
  width: percentage($span / $total-columns) - (($total-columns / $span - 1) * $gutter / ($total-columns / $span));
  *width: percentage($span / $total-columns) - (($total-columns / $span) * $gutter / ($total-columns / $span)); // IE7 hack, difficult to put in ie7css

  // No gutter to the left if the column is the last to the right
  @if not $last {
    margin-right: $gutter;
  } @else {
    margin-right: 0;
  }
  @if $span == $total-columns {
    margin-right: 0;
    float: none;
  }

  float: left;
  @include box-sizing(border-box);
}

@mixin radius($values) {
  -moz-border-radius: $values;
  -webkit-border-radius: $values;
  border-radius: $values;
}

@mixin transition($values) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin box-shadow($values) {
  -moz-box-shadow: $values;
  -webkit-box-shadow: $values;
  box-shadow: $values;
}

@mixin opacity($value) {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=(#{$value * 100}));
  filter: alpha(opacity=($value * 100));
  opacity: $value;
}

@mixin box-sizing($boxmodel) {
  -ms-box-sizing: $boxmodel;
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

// Use with a media query to disable the hz mode below a breakpoint
@mixin form-force-vertical() {
  .form-horizontal {
    .control-label {
      display: block;
      width: 100%;
    }
    .controls {
      width: 100%;
      margin-left: 0;
      clear: both;
    }
  }
}

@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
