section.box#search-employee {
  .box-content {
    margin-top: 0;
    padding: 0;
    label, p {
      font-family: $sansSerif;
      font-size: emize(13);
    }
    label {
      display: block;
      margin-bottom: .1em;
    }
    input#query-employee {
      width: 68%;
    }
  }
}
