section.box#shortcuts-tools,
section.box#shortcuts-i-want {
  .box-content {
    li {
      margin-bottom: .2em;
      font-size: emize(13);
      line-height: emize(21, 13);
      font-family: $sansSerif;
    }
  }
}
