section.box#shortcuts-tools,
section.box#shortcuts-i-want {
  padding-bottom: .4em;
  section h1 {
    font-size: emize(16);
    font-family: $sans-serif;
    font-weight: bold;
    line-height: 1.3;
    border-bottom: $border;
    margin: .7em emize(12, 14) .3em;
    padding: 0 0 .2em;
  }

  ul li {
    position: relative;
    display: block;
    margin: .4em .4em .5em emize(12, 14);
    a {
      display: block;
      margin-right: 1.4em;
      overflow: hidden;
      font-size: emize(14);
      line-height: 1.35;
      font-family: $sans-serif;
    }
    a.remove {
      position: absolute;
      display: block;
      width: 1.2em;
      height: 1.2em;
      right: 0;
      margin: 0;
      top: .3em;
      cursor: pointer;
      background-size: 10px;
      @include opacity(.4);
    }
    a.remove:hover  {
      @include opacity(1);
    }
  }
  .btn.add {
    margin: .5em 1em 1.2em;
  }
}

section.box#shortcuts-i-want .box-title {
  margin-bottom: .4em;
}
