section.box.statistics {
  h2 {
    font-family: $sans-serif;
    margin: 0 0 .5em;
  }
  ul {
    list-style: disc;
    padding: 0;
    margin-bottom: 1em;
    li {
      font-family: $sans-serif;
      font-size: emize(13);
      line-height: 1.8;
    }
  }
}
