section.box#time-report {
  .box-content {
    font-family: $sans-serif;
    p {
      margin-bottom: 0;
    }
    .status {
      margin: .6em 0 .4em;
      min-height: 1.5em;
      padding: .3em .5em .4em;
      @include radius(3px);
      @include transition(background 0.6s ease-in-out);
      font-size: emize(13);
      background-position: 25% 45%;
      &.default {
        border: #ccc solid 1px;
      }
    }
    .loading {
      background-position: 98% 45%;
    }
    p.hrutan {
      margin-bottom: 0;
      text-align: right;
      font-size: emize(13);
    }
  }
}
