// View for user data
.show.user {
  .controls.edit {
    display: none;
  }

  .form-group-title.summary {
    margin-top: 0;
  }
  #languages {
    width: 90% !important;
  }

  .controls li {
    margin-bottom: .4em;
  }

  // Pseudo labels
  .control-group {
    div.control-label {
      font-size: emize(13);
      line-height: 1.4em;
    }
  }

  // Show views w/form layout
  .control-group.readonly {
    margin-bottom: 0;
    .control-label {
      margin-top: 0;
      padding: .8em 0;
      font-size: emize(13);
    }
    .controls {
      font-size: emize(13);
      > * {
        font-size: emize(13, 13);
      }
      line-height: 1.4em;
      margin-top: 0;
      padding: .8em 0;
      .actions {
        margin: .6em 0 0;
      }
    }
  }
  .change-avatar {
    float: right;
    width: 4.8em;
    margin: 0;
  }
  .actions.change-profile {
    float: left;
    margin: 1em 0 0;
  }
  .actions.top {
    @include clearfix();
    margin-bottom: 1em;
    .colleagueship {
      float: right;
      .add, .remove {
        width: 7em;
      }
    }
    .change-profile {
      float: left;
    }
  }
}

.controls .role {
  margin-bottom: 1em;
  h3 {
    margin: 0 0 .4em;
    line-height: 1.6;
    font-weight: normal;
    font-size: emize(13);
  }
}

section#edit-user {
  .control-group {
    margin-bottom: .5em;
  }
  .change-info {
    display: none;
    padding: .6em .8em 0;
    margin: .5em 0 1em;
    @include radius(3px);
    border: $border;
    background: $backgroundLight;
    font-family: $serif;
    font-size: emize(14, 13);
    line-height: 1.4;
  }
  .show-change-info {
    margin-left: .4em;
  }
}
