// Results list for user search
section.box.index.users {
  form {
    label {
      display: none;
    }
    .controls {
      margin-left: 0;
      .input-append {
        width: 100%;
      }
      input#query-employee {
        width: 35em;
        max-width: 80% !important;
      }
      .help {
        margin: .4em 0 0;
      }
    }
  }
  ul.results li {
    @include clearfix();
    clear: both;
    display: block;
    padding: 0.4em .7em;
    border: solid white;
    border-width: 1px 0;
    margin: 0 0 1em;
    .avatar {
      @include columns(2);
      img {
        margin: .1em 0 0;
        width: 100%;
        height: auto;
      }
    }
    .info {
      margin: 0 0 .1em;
      @include columns(10, true);
    }
    h2 {
      font-weight: normal;
      font-size: emize(16);
      margin: 0 0 .15em;
    }
    p {
      font-family: $sansSerif;
      font-size: emize(13);
      line-height: 1.4;
      margin: 0 0 .15em;
      span.phone, span.org {
        margin-right: .5em;
      }
    }
    p.note {
      font-family: $serif;
      font-size: emize(16);
      margin: 0;
    }
  }
}

// Search box for users
section.box#search-aastra,
section.box#search-employee {
  .box-content {
    margin-top: 0;
    padding: 0;
    p {
      font-family: $sansSerif;
      font-size: emize(13);
    }
    label {
      display: none;
    }
    input[type=text] {
      width: 68%;
    }
  }
}
