// View for user data
.show.user {
  section.vcard {
    @include clearfix();
    .photo {
      @include columns(3);
      float: left;
      margin-top: .3em;
      img {
        width: 100%;
        height: auto;
      }
      .btn {
        margin-bottom: 1em;
      }
    }
    .main-card {
      @include columns(9, true);
      margin: 0 0 2em;
      .fn {
        font-size: emize(26, 16);
        font-family: $serif;
        font-weight: normal;
        margin: 0 0 .2em;
      }
      .professional-bio {
        font-family: $serif;
        margin-bottom: .5em;
        line-height: 1.4;
      }
      .org, .phone, .email, .status_message, #user-activities {
        font-family: $sansSerif;
        font-size: emize(13);
        margin: 0;
      }
      .title {
        margin: 0 0 .5em;
      }
      .org {
        margin: 0 0 .5em;
      }
      .email {
        margin: 0 0 1em;
      }
      #user-activities {
        margin-top: 1em;
        &.hide {
          display: none;
        }
      }
    }
  }
  .employee-column-1 {
    @include columns(6);
  }
  .employee-column-2 {
    @include columns(6, true);
  }

  section.org {
    li {
      @include clearfix();
      margin-bottom: .2em;
    }
    .photo {
      width: 3em;
      float: left;
      margin-top: .2em;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text {
      margin: 0 0 0 3.5em;
      p {
        margin: 0;
      }
    }
  }
  section.org,
  section.address,
  section.competence,
  section.intranet-activities,
  section.personal,
  section.misc {
    @include clearfix();
    margin: 0 0 1em;
    p {
      font-size: emize(13);
      margin: 0 0 .5em;
    }
  }
  .colleagueship {
    float: right;
    button {
      width: 7em;
    }
  }
  h2.form-group-title {
    margin: 0 0 .5em;
  }
  section.personal .note p {
    font-family: $serif;
    font-size: emize(14);
    margin-bottom: .5em;
    line-height: 1.4;
  }
  a.change {
    margin-left: .4em;
  }
}
