// View for user data
.show.user {
  section.vcard {
    @include clearfix();
    .photo {
      @include columns(3);
      float: left;
      margin-top: .3em;
      img {
        width: 100%;
        height: auto;
      }
      .btn {
        margin-bottom: 1em;
      }
    }
    .main-card {
      @include columns(9, true);
      margin: 0 0 2em;
      .fn {
        font-size: emize(26, 16);
        font-family: $serif;
        font-weight: normal;
        margin: 0 0 .2em;
      }
      .professional-bio {
        font-family: $serif;
        margin-bottom: .5em;
        line-height: 1.4;
      }
      .org,
      .phone,
      .email,
      .status_message,
      #user-activities {
        font-family: $sans-serif;
        font-size: emize(14);
        margin: 0;
      }
      .title {
        margin: 0 0 .5em;
      }
      .org {
        margin: 0 0 .5em;
      }
      .email {
        margin: 0 0 1em;
      }
      #user-activities {
        margin-top: 1em;
        &.hide {
          display: none;
        }
      }
    }
  }
  .employee-column-1 {
    @include columns(6);
  }
  .employee-column-2 {
    @include columns(6, true);
  }

  section.org {
    li {
      @include clearfix();
      margin-bottom: .2em;
    }
    .photo {
      width: 3em;
      float: left;
      margin-top: .2em;
      img {
        width: 100%;
        height: auto;
      }
    }
    .text {
      margin: 0 0 0 3.5em;
      p {
        margin: 0;
      }
    }
  }
  section.org,
  section.address,
  section.competence,
  section.languages,
  section.activities,
  section.intranet-activities,
  section.organizational,
  section.personal,
  section.misc {
    @include clearfix();
    margin: 0 0 1em;
    p {
      font-size: emize(14);
      margin: 0 0 .5em;
    }
  }
  section.competence,
  section.languages,
  section.activities {
    li {
      display: inline;
      font-size: emize(14);
      a::after {
        content: ', ';
      }
      &:last-child a::after {
        content: none;
      }
    }
  }
  section.intranet-activities,
  section.organizational {
    li a {
      font-size: emize(14);
      display: block;
      padding: 0 0 .4em;
    }
  }

  @at-root {
    body.touch .show.user {
      section.competence,
      section.languages,
      section.activities,
      section.intranet-activities,
      section.organizational {
        a {
          display: block;
          padding: .5em 0;
          &::after {
            content: none;
          }
        }
      }
    }
  }

  .add-contact {
    float: right;
    a {
      padding-right: 1.5em;
      padding-left: 1.5em;
    }
  }
  .colleagueship {
    float: right;
    margin-left: .5em;
    button {
      width: 6em;
    }
  }
  h2.form-group-title {
    margin: 0 0 .5em;
  }
  section.personal .note p {
    font-family: $serif;
    font-size: emize(14);
    margin-bottom: .5em;
    line-height: 1.4;
  }
  a.change {
    margin-left: .4em;
  }

  #map {
    display: none;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 0 1em;
    border: $border;
    width: 100%;
    height: 31.3em;
    iframe {
      width: 100%;
      height: 100%;
    }
    .close-map {
      position: absolute;
    }
  }
}
