section#edit-user {
  .control-group {
    margin-bottom: .5em;
  }
  .more-info {
    display: none;
    padding: .4em .8em .5em;
    margin: .5em 1px 1em 0;
    @include radius(3px);
    border: $border;
    background: $backgroundLight;
    font-family: $serif;
    font-size: emize(14, 13);
    line-height: 1.4;
    p {
      margin: .5em 0;
    }
  }
  .show-more-info {
    margin-left: .4em;
  }
  p.help {
    width: 90%;
    margin-top: .4em;
  }
}