// Results list for user search
section.box.index.users {
  margin-bottom: 3em;
  form .help-inline {
    margin: .4em 0 1em;
  }
  .summary {
    font-family: $sans-serif;
    font-size: emize(14, 16);
  }
  ul.results li {
    @include clearfix();
    clear: both;
    display: block;
    padding: 0.4em .7em;
    border: solid #fff;
    border-width: 1px 0;
    margin: 0 0 1em;
    .avatar {
      @include columns(2);
      img {
        margin: .1em 0 0;
        width: 100%;
        height: auto;
      }
    }
    .info {
      margin: 0 0 .1em;
      @include columns(10, true);
    }
    h2 {
      font-weight: normal;
      font-size: emize(17);
      margin: 0 0 .15em;
    }
    p {
      font-family: $sans-serif;
      font-size: emize(14);
      line-height: 1.4;
      margin: 0 0 .15em;
      span.phone, span.org {
        margin-right: .5em;
      }
    }
    p.note {
      font-family: $serif;
      font-size: emize(16);
      margin: 0;
    }
  }
  ul.results.batch li {
    .batch-check {
      @include columns(.7);
      @media (max-width: 32em) {
        @include columns(.7);
      }
      margin: -.3em 0 0;
      input {
        margin: 0;
      }
    }
    .avatar {
      @include columns(2);
    }
    .info {
      @include columns(9, true);
    }
  }
  .batch-assign {
    margin: .7em;
  }
  .batch-assign.checkbox {
    margin-top: 1em;
    label {
      display: block;
      margin-bottom: 1em;
    }
  }
}

// Search box for users
section.box#search-aastra,
section.box#search-employee {
  .box-content {
    margin-top: 0;
    padding: 0;
    p {
      font-family: $sans-serif;
      font-size: emize(14);
    }
    label {
      display: none;
    }
    input[type=text] {
      width: 68%;
    }
  }
}
