// Colors
$bodyColor: black;
$menuColor: $bodyColor;

$linkColor: #007133;

$borderColor: #b5b5b5;
$border: $borderColor 1px solid;
$borderColorDark: darken($borderColor, 20%);
$borderDark: $borderColorDark 1px solid;

$backgroundLight: #f0f0f0;
$backgroundLightHover: darken($backgroundLight, 5%);
$backgroundDark: #888;
$backgroundDarker: darken($backgroundDark, 14%);

$textColorDark: $backgroundDark;

$mastheadBackground: #444;
$mastheadBackgroundHighlight: #b10000;
$mastheadBackgroundHighlightGlare: lighten($mastheadBackgroundHighlight, 9%);

$boxShadow: 2px 2px 3px #ccc;

// Colors for status messages
$successBackground: #eafcea;
$successBorder: 1px solid desaturate(darken($successBackground, 50%), 40%);
$warningBackground: #fffcd0;
$warningColor: #c00;
$warningBorder: 1px solid $warningColor;
$errorBackground: #ffeae0;
$errorBorder: 1px solid darken($errorBackground, 40%);
$dangerColor: #c00;

// Fonts
$sansSerif: 'OpenSans', 'Droid Sans', Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
$serif: Georgia, 'Droid Serif', 'DejaVu Serif', 'Bitstream Vera Serif', serif;
$monospace: Consolas, Inconsolata, 'Droid Sans Mono', 'DejaVu Mono', 'Bitstream Vera Mono', monospace;
/* NOTE: Use with font-weight: normal */
$sansSerifSemibold: 'OpenSansSemibold', 'Droid Sans', Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
$iconFont: FontAwesome;
