// Colors
$bodyColor: black;
$menuColor: $bodyColor;

$linkColor: #007133;

$borderColor: #ccc;
$border: $borderColor 1px solid;
$borderColorDark: darken($borderColor, 20%);
$borderDark: $borderColorDark 1px solid;

$backgroundLight: #f5f5f5;
$backgroundLightHover: darken($backgroundLight, 5%);
$backgroundDark: #888;
$backgroundDarker: darken($backgroundDark, 14%);

$textColorDark: $backgroundDark;

$mastheadBackground: #444;
$mastheadBackgroundHighlight: #b10000;
$mastheadBackgroundHighlightGlare: lighten($mastheadBackgroundHighlight, 9%);

$boxShadow: 2px 2px 3px #ccc;

$dangerColor: #c00;

// Fonts
$sansSerif: 'OpenSans', 'Droid Sans', Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
$serif: Georgia, 'Droid Serif', 'DejaVu Serif', 'Bitstream Vera Serif', serif;
$monospace: Consolas, Inconsolata, 'Droid Sans Mono', 'DejaVu Mono', 'Bitstream Vera Mono', monospace;
/* NOTE: Use with font-weight: normal */
$sansSerifSemibold: 'OpenSansSemibold', 'Droid Sans', Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
$iconFont: FontAwesome;