- title "Redigera nyhetsflöde"
%section.box.form
  %h1.box-title= h1
  .box-content
    = form_for @feed, url: my_own_feed_path(@feed), html: { class: "form-horizontal" } do |f|
      = render 'form', f: f
